.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FAFAFA;
  color: #86714a;
  border: none;
  border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}
.responstable tr {
  border: none;
}

.responstable tr:nth-child(odd) {
  background-color: #F0F0F0;
}

.responstable td {
	border-left: 1px solid #808080;
	padding: 2px 5px;
    border-bottom: 1px solid #808080;
	font-family: "Roboto", "Helvetica", sans-serif;
	font-size: 13px;
}

.ora_headerrow td{
  border-bottom: 1px solid black;
  border-left: none !important;
  padding: 5px 0px;
  text-align: center;
  background-color: #333333;
  color: #E0E0E0;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 16px;
}

/*custom stuff*/
.display_mods{
	text-align:center;
}
.display_players{
	text-align:center;
}
.display_maxplayers{
	text-align:center;
}
.display_spectators{
	text-align:center;
}
.display_duration{
	text-align:center;
}
.display_playersText{
	text-align:center;
}